[Unit]
Description=AMBEd AMBE transcoding server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=AMBED_BIND_IP=127.0.0.1
EnvironmentFile=-/etc/default/ambed
ExecStartPre=/usr/local/sbin/ambed-usb-unbind
ExecStart=/ambed/ambed ${AMBED_BIND_IP}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
